html {
  font-size: 16px;
  box-sizing: border-box;
}

h1 {
  font-size: 1.8rem;
}

.table-bordered>thead>tr>th {
  border-bottom-width: 1px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #e4e4e4;
}

.table-info {
  color: #3b5998;
  background-color: #ffe39f;
  border-top: 1px solid #c4c0bb;
  font-weight: bold;
  font-style: italic;
}
